<a href="https://colab.research.google.com/github/Ujjvalasindhu/AI/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_excel(os.path.join(os.getcwd(), 'Assets', '/slr08 (2) (1).xlsx'))
print(data.shape)
data.head()

(30, 2)

       X      Y
0   75.1  577.8
1   74.3  577.0
2   88.7  570.9
3  114.6  578.6
4   98.5  572.4

In [ ]:
maxX = np.max(data['X'])
minX = np.min(data['X'])
maxY = np.max(data['Y'])
minY = np.min(data['Y'])

data['X'] = (data['X'] - minX) / (maxX - minX)
data['Y'] = (data['Y'] - minY) / (maxY - minY)
x = data['X']
y = data['Y']
trainX, testX, trainY, testY = train_test_split(x, y, test_size=0.1, random_state=101)
m = np.random.uniform(-50, 50)
c = np.random.uniform(-50, 50)
eta = 0.5
epochs = 500

for _ in range(epochs):
    
    gradM = -sum([(trainY.iloc[i] - m * trainX.iloc[i] - c) * trainX.iloc[i] for i in range(trainX.shape[0])])
    gradM /= trainX.shape[0]
    
    gradC = -sum([(trainY.iloc[i] - m * trainX.iloc[i] - c) for i in range(trainX.shape[0])])
    gradC /= trainX.shape[0]
    
    c += - eta * gradC
    m += - eta * gradM

print(f'm = {m}\nc = {c}')

m = -0.15335929925020944
c = 0.6967064691082477

In [ ]:
train_pred = [m * trainX.iloc[i] + c for i in range(trainX.shape[0])]
test_pred = [m * testX.iloc[i] + c for i in range(testX.shape[0])]

train_pred = [i * (maxY - minY) + minY for i in train_pred]
test_pred = [i * (maxY - minY) + minY for i in test_pred]
trainY = [i * (maxY - minY) + minY for i in trainY]
testY = [i * (maxY - minY) + minY for i in testY]

training_MAE = sum([abs(train_pred[i] - trainY[i]) for i in range(len(trainY))]) / len(trainY)
training_MSE = sum([(train_pred[i] - trainY[i]) ** 2 for i in range(len(trainY))]) / len(trainY)
training_RMSE = training_MSE ** 0.5
print('Training Error :')
print(f'MAE : {training_MAE}')
print(f'MSE : {training_MSE}')
print(f'RMSE : {training_RMSE}')

testing_MAE = sum([abs(test_pred[i] - testY[i]) for i in range(len(testY))]) / len(testY)
testing_MSE = sum([(test_pred[i] - testY[i]) ** 2 for i in range(len(testY))]) / len(testY)
testing_RMSE = testing_MSE ** 0.5
print('Testing Error :')
print(f'MAE : {testing_MAE}')
print(f'MSE : {testing_MSE}')
print(f'RMSE : {testing_RMSE}')

Training Error :
MAE : 26.71013772060264
MSE : 1532.8193424129645
RMSE : 39.151236792890266
Testing Error :
MAE : 19.052544897899548
MSE : 532.446113798642
RMSE : 23.07479390587578

In [ ]:
pd.DataFrame({'Actual' : trainY, 'Predicted':train_pred})

    Actual   Predicted
0    508.6  504.753578
1    570.9  514.377245
2    510.0  517.478712
3    513.4  520.078470
4    506.3  524.639450
5    512.8  520.215300
6    504.3  516.384077
7    496.4  521.173105
8    578.6  502.564308
9    577.0  520.945056
10   510.9  506.760409
11   502.8  521.173105
12   506.4  509.496997
13   411.2  503.750162
14   503.9  521.127496
15   577.8  520.580178
16   512.8  513.966757
17   572.4  509.907485
18   406.7  506.030652
19   510.2  512.416024
20   507.1  513.556269
21   506.2  524.867499
22   522.0  510.135534
23   493.0  508.630411
24   531.7  502.473088
25   510.2  519.303104
26   505.2  502.016990

In [ ]:
x = float(input('Enter the pressure of liquid nitrogen : '))
x = (x - minX) / (maxX - minX)
prediction = m * x + c
prediction = (prediction * (maxY - minY)) + minY
print('Predicted Weight :', prediction)

Enter the pressure of liquid nitrogen : 234
Predicted Weight : 448.1062081925993